* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 20px;
}

nav {
  height: 100%;
}

#logo {
  height: 100%;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr repeat(2, 250px) 1fr;

  background-image: url("/images/Background3.jfif");
  background-size: contain;

  grid-template-rows: 140px;

  height: 50vh;
  text-shadow: 1px 1px 1px black;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu li {
  margin: 0 25px;
  font-size: larger;
  text-shadow: 0 0 5px black;
}

a {
  text-decoration: none;
  color: white;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/-2;
  text-decoration: none;
  color: white;
}
